@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl mb-4;
  }
  h2 {
    @apply text-xl mb-2 mt-8;
  }
  h3 {
    @apply text-lg mb-1 mt-4;
  }
  a:not(:has(input)) {
    @apply text-blue-600 no-underline hover:underline;
  }
  /* forms */
  input[type='submit'],
  button[type='submit'],
  input[type='button'],
  button.primaryAction,
  .btn,
  .rjf-add-button {
    /* note button.primaryAction is used in django-allauth */
    @apply no-underline hover:no-underline
      text-black font-medium text-sm px-4 py-2
      rounded-lg border;
    /* make sure the sizing of a and input are equal */
    line-height: initial;
  }
  /* CTA */
  input[type='submit'], button.primaryAction, .btn.cta {
    @apply
      text-white
      focus:ring-4 focus:ring-blue-300 focus:outline-none
      bg-blue-600 hover:bg-blue-700;
    @apply px-5 py-2.5;
  }
  form > div label, form > p label, .rjf-form-group-title {
    @apply block mb-2 text-sm font-medium text-gray-900;
  }
  form span.helptext, .rjf-help-text {
    @apply mt-2 text-sm text-gray-500 font-light;
  }
  form ul.errorlist {
    @apply text-red-700 text-sm;
  }
  form > p:not(:first-child) {
    /* Use django form.as_p when rendering */
    @apply mt-6;
  }
  input[type='text'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='password'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='email'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='number'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='url'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='date'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='datetime-local'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='month'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='week'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='time'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='search'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='tel'] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='checkbox'] {
    @apply rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  input[type='radio'] {
    @apply rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  select[multiple] {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  textarea {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }

  input, textarea {
    @apply
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none;
  }
  form label:has(input[type='checkbox']:disabled) {
    @apply text-slate-500;
  }
}

.btn-delete {
  @apply text-red-600 focus:ring-red-300
    bg-transparent
    border border-red-600 hover:bg-red-100;
}

img.integration-icon {
  height: .9em;
  @apply inline;
}

.chevron-after::after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: -2px;
  content: "";
  border: 4px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

table.table {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}
table.table thead {
  @apply uppercase text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}
table.table thead th {
  @apply px-6 py-3;
}
table.table tbody tr {
  @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600;
}
table.table tbody th {
  @apply flex items-center px-6 text-gray-900 whitespace-nowrap dark:text-white;
}
table.table tbody td {
  @apply px-6;
}

/* react-jsonform style */
.rjf-form-row:not(:last-child),
.rjf-form-group:not(:last-child),
.rjf-form-group-wrapper:not(:last-child) {
  @apply mb-6;
}
.rjf-form-wrapper, .rjf-form-group-wrapper {
  @apply border border-dashed rounded-lg border-gray-300 px-4 py-4;
}
.rjf-form-group-wrapper {
  position: relative; /* Enables form control to be put top-right */
}
.rjf-form-row-controls {
  position: absolute;
  right: 9px;
  top: 5px;
  z-index: 2;
}
.rjf-form-row-controls button {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 40px;
}
.rjf-remove-button {
  @apply text-red-500;
}
