{% extends "base.html" %}

{% load dashboard_tags %}

{% block head_title %}{{ dashboard }}{% endblock %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/vega@5.22.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.6.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.21.0"></script>
{% endblock %}

{% block content %}
{% if not measurements_by_metric %}
  <h1>{{ dashboard.name }}</h1>
  You don't have a metric yet. Let's add one!
  <p>
    <a href="{% url 'integrations' %}">Add metric</a>
  </p>
{% else %}
  <h1>
    {{ dashboard }}
    <span class="text-sm">
      {% if dashboard|can_edit:user %}
        [<a href="{% url 'dashboard_edit' dashboard.pk %}">edit</a>]
      {% endif %}
      {% if dashboard|can_delete:user %}
        [<a href="{% url 'dashboard_delete' dashboard.pk %}">delete</a>]
      {% endif %}
    </span>
  </h1>
  {% include "mainapp/snippets/metric_mosaic.html" %}
{% endif %}
{% endblock %}
