{% extends "base.html" %}
{% load static %}
{% load debug_tags %}

{% block content %}
<h2>Select metrics to add to <b>{{object}}</b>:</h2>
<form method="post">{% csrf_token %}
  {{ form.non_field_errors }}
  <div id="id_{{ form.metrics.name }}">
    {% for checkbox in form.metrics %}
    <div>
        <label for="{{ checkbox.id_for_label }}">
          {{ checkbox.errors }}
          {{ checkbox.tag }}
          {% with "integrations/icons/"|add:checkbox.data.value.instance.integration_id|add:".png" as icon_url %}
            <img class="integration-icon" src="{% static icon_url %}" alt="">
          {% endwith %}
          {{ checkbox.choice_label }}
        </label>
    </div>
    {% endfor %}
    {{ form.metrics.errors }}
  </div>
  <div class="flex my-2 items-center pt-2">
    <input type="submit" value="Add selected">
    <div class="px-5 text-gray-500">or</div>
    <a href="{% url 'integrations' %}?dashboard_ids={{ dashboard.pk }}&organization_id={{ dashboard.organization.pk }}&next={{ dashboard.get_absolute_url }}" class="btn">Create new</a>
  </div>
</form>
{% endblock %}
