{% extends "base.html" %}

{% load dashboard_tags %}
{% load widget_tweaks %}

{% block content %}

<h1>{{ dashboard }}</h1>
<form action="" method="post">{% csrf_token %}
    {% for field in form.visible_fields %}
        <p>
            {{ field.errors }}
            {{ field.label_tag }}
            {% if field.name == 'slug' %}
              <div class="flex">
                <span id="id_slug_prefix" class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md">polynomial.so/</span>
                {{ field|add_class:"!rounded-none !rounded-r-lg"|append_attr:"placeholder:my-dashboard-name" }}
              </div>
            {% else %}
              {{ field }}
            {% endif %}
            {% if field.help_text %}
              <span class="helptext">{{ field.help_text|safe }}</span>
            {% endif %}
        </p>
    {% endfor %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}

    {% if dashboard|can_delete:user %}
    <p>
      <a class="btn btn-delete" href="{% url 'dashboard_delete' object.pk %}?next={{ request.GET.next }}">delete dashboard</a>
    </p>
    {% endif %}
    <p>
      <input type="submit" value="submit">
    </p>
</form>

{{ form.org_slugs | json_script:"org_slugs" }}
<script data-username="{{ user.username }}">
  var username = document.currentScript.dataset.username;
  var orgSlugs = JSON.parse(document.getElementById('org_slugs').textContent);

  function onOrgChange(e) {
    var prefix = orgSlugs[e.target.value] || username;
    document.getElementById('id_slug_prefix').innerText = 'polynomial.so/' + prefix + '/';
  }
  var elOrganization = document.getElementById('id_organization');
  elOrganization.addEventListener('change', onOrgChange);
  onOrgChange({'target': elOrganization});

  function slugify(s) {
    return s.toLowerCase()
      .trim()
      .replace(/[^\w\s-]/g, '')
      .replace(/[\s_-]+/g, '-')
      .replace(/^-+|-+$/g, '');
  }
  function onNameChange(e) {
    var slugEl = document.getElementById('id_slug');
    if (!slugEl.value) {
      slugEl.value = slugify(e.target.value);
    }
  }
  document.getElementById('id_name').addEventListener('change', onNameChange);

</script>

{% endblock %}
