{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="px-4 mx-auto mt-10 max-w-screen-xl sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28">
    <div class="text-center">
      <h1 class="text-3xl font-extrabold tracking-tight sm:text-4xl md:text-5xl">
        A central place to track
        <br />
        <span class="text-blue-600">your most vital KPIs</span>
      </h1>
      <p class="max-w-md mx-auto mt-3 text-gray-500 font-light sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
        The fastest way to centralize the metrics and performance indicators that matter to you.
        Build dashboards in seconds by connecting <a href="{% url 'integrations' %}">integrations</a>.
      </p>
      <p class="max-w-md mx-auto my-5 flex justify-center md:my-8 gap-2 md:text-md">
        <a class="btn cta text-white md:py-4 md:px-10" href="{% url 'account_login' %}">Sign up</a>
        <a class="btn md:py-4 md:px-10 text-gray-500" href="{% url 'integrations' %}">Browse integrations</a>
      </p>
      <p>
        {% for integration in integrations %}
          {% with "integrations/icons/"|add:integration.id|add:".png" as icon_url %}
            <img class="integration-icon" src="{% static icon_url %}" alt="{{ integration.label }}">
          {% endwith %}
        {% endfor %}
      </p>
      <p class="text-xs text-gray-500 font-light">
         extend or build new integrations <a href="https://github.com/corradio/polynomial/tree/master/integrations">here</a>.
      </p>
    </div>

    <div class="max-w-5xl mx-auto rounded shadow-xl mt-14 border border-gray-100">
      <img class="py-2 lg:py-10 lg:px-14" src="{% static 'images/screenshot.png' %}">
    </div>

    <div class="max-w-5xl mx-auto my-14">
      <div class="flex justify-start flex-col md:flex-row gap-8">
        <div class="basis-1/3">
          <div class="text-xl mb-4">Collect data from anywhere</div>
          <div class="text-xs text-gray-500 leading-relaxed">
            Automatically ingest data from {{integrations|length}} different integrations, including Stripe, Google Analytics, Google Sheets, PostgreSQL, Twitter, LinkedIn and <a href="{% url 'integrations' %}">many more</a>.
            Missing one? Feel free to <a href="https://github.com/corradio/polynomial/tree/master/integrations">contribute</a>.
          </div>
        </div>
        <div class="basis-1/3">
          <div class="text-xl mb-4">Get notified of anomalies</div>
          <div class="text-xs text-gray-500 leading-relaxed">
            Metrics are refreshed daily, and our anomaly detection algorihms will notify you over email or Slack notification if any noteworthy changes are spotted.
          </div>
        </div>
        <div class="basis-1/3">
          <div class="text-xl mb-4">Exported daily to Google Sheets</div>
          <div class="text-xs text-gray-500 leading-relaxed">
            All your data can be exported daily to a Google Sheet of your choice, giving you the ability to re-use the data outside of Polyonomial.
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
