{% extends "base.html" %}

{% block content %}
    <form method="post">{% csrf_token %}
      <p><b>{{ object }}</b> is able to collect past data, would you like to collect it?</p>
      {{ form }}
      <p>
        <label for="pet-select">How far back to collect old data:</label>
        <select name="since" id="since">
          <option value="7 days">A week</option>
          <option value="31 days" selected>A month</option>
          <option value="365 days">A year</option>
          <option value="">As far back as possible</option>
        </select>
      </p>
      <p>
      {% if request.GET.next %}
      <a href="{{ request.GET.next }}"><input type="button" value="Skip"/></a>
      {% endif %}
        <input type="submit" value="Collect">
      </p>
  </form>
{% endblock %}
