{% extends "base.html" %}

{% load metric_tags %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if not metric or metric|can_edit:user %}
    {% if can_web_auth %}
    <input type="button" id="button-authorize" value="Re-authorize">
    {% endif %}
    <input type="button" id="button-test" value="Test">
    <input type="submit" id="button-submit" value="Save">
    <script>
      var testButton = document.getElementById("button-test");
      var authorizeButton = document.getElementById("button-authorize");
      var submitButton = document.getElementById("button-submit");

      // Authorization
      if (authorizeButton) {
        authorizeButton.onclick = function(e) {
          // Note: this will lose all unsaved settings
          location.pathname += 'authorize';
        }
      }
      // Test
      testButton.onclick = function(e) {
        var configElement = document.getElementById('id_integration_config');
        // Validate form (this happens automatically when calling onSubmit)
        if (!configElement.form.reportValidity()) {
          e.preventDefault();
          return;
        }
        var formInstance = reactJsonForm.getFormInstance('id_integration_config_jsonform');
        var config = JSON.parse(document.getElementById('id_integration_config').dataset.djangoJsonform);
        if (config.validateOnSubmit) {
          if (!formInstance.validate().isValid) {
            e.preventDefault();
            return;
          }
        }
        document.querySelector('#integration-test-container').style.color = 'gray';
        var testLabel = document.querySelector('#integration-test-container span.label');
        testLabel.innerText = '[' + new Date() + '] Testing..';

        var csrftoken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        var data = JSON.stringify({
          integration_config: configElement.value,
          name: document.getElementById('id_name').value,
        });
        fetch(location.origin + location.pathname + 'test', {
          method: 'POST', headers: {
            'X-CSRFToken': csrftoken,
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
          },
          body: data,
        })
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            // HTTPError
            return {'status': 'error', 'error': response.status + ' ' + response.statusText};
          }
        })
        .catch(error => {
          // Other error
          return {'status': 'error', 'error': error};
        })
        .then(data => {
          var isError = data.status !== 'ok';
          document.querySelector('#integration-test-container').style.color = isError
            ? 'red'
            : 'green';
          var testLabel = document.querySelector('#integration-test-container span.label');
          testLabel.innerText = '[' + (data.datetime || new Date()) + ']';
          if (isError) {
             testLabel.innerText += ' Integration failed:';
          } else {
            testLabel.innerText += ' Integration successfully ran:';
            // Update schema if any
            if (data.newSchema) {
              var newConfig = {
                ...config,
                data: formInstance.getData(),
                schema: data.newSchema
              };
              formInstance.update(newConfig);
            }
          }
          document.querySelector('#integration-test-container pre').innerText = isError
            ? data.error
            : JSON.stringify(data.measurement);
        });
      };
    </script>
    <p>
        <div id="integration-test-container">
          <span class="label"></span>
          <p>
            <pre></pre>
          </p>
        </div>
    </p>
    {% endif %}
  </form>
  {% if not metric or metric|can_edit:user %}
    {% if metric.id %}
    <a href="{% url 'metric_delete' metric.id %}">Delete metric</a>
    {% endif %}
    <a href="select-integration">Change integration</a>
  {% endif %}
{% endblock %}