{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <form method="post">{% csrf_token %}
      <p><b>{{ object }}</b> is able to collect past data, would you like to collect it?</p>
      {% for field in form.visible_fields %}
        <p>
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <span class="helptext">{{ field.help_text|safe }}</span>
          {% endif %}
        </p>
      {% endfor %}
      <p>
        {% if request.GET.next %}
        <a href="{{ request.GET.next }}"><input type="button" value="Skip"/></a>
        {% endif %}
        <input type="submit" value="Collect">
      </p>
  </form>
{% endblock %}
