{% extends "base.html" %}

{% block content %}
<h1>Are you sure?</h1>
  <form method="post">{% csrf_token %}
    <p>Are you sure you want to delete metric <b>{{ object }}</b> with {{ object.measurement_set.count }} measurements?</p>
    {{ form }}
    <p>
      This will remove it from the following dashboards:
      <ul class="list-disc list-inside">
        {% for dashboard in object.dashboards.all %}
          <li>{{ dashboard }}</li>
        {% endfor %}
      </ul>
    </p>
    <p>
      <input type="submit" value="Confirm">
    </p>
  </form>
{% endblock %}
