{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ metric.name }}</title>
    <meta content="Polynomial | A central place to track your most vital KPIs" property="og:title"/>
    <meta content="Polynomial | A central place to track your most vital KPIs" property="twitter:title"/>

    <meta content="{% static 'images/social.png' %}" property="twitter:image"/>
    <meta content="{% static 'images/social.png' %}" property="og:image"/>


    <meta content="The fastest way to centralize the metrics and performance indicators that matter to you. Build dashboards in seconds by using our many integrations." name="description"/>
    <meta content="The fastest way to centralize the metrics and performance indicators that matter to you. Build dashboards in seconds by using our many integrations." property="og:description"/>
    <meta content="The fastest way to centralize the metrics and performance indicators that matter to you. Build dashboards in seconds by using our many integrations." property="twitter:description"/>

    <meta property="og:type" content="website"/>
    <meta content="summary_large_image" name="twitter:card"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    {% endcompress %}

    <script src="{% static 'vega.min.js' %}"></script>
    <script src="{% static 'vega-lite.min.js' %}"></script>
    <script src="{% static 'vega-embed.min.js' %}"></script>
    {# D3 libraries are included in vega but must be accessible from metric_mosaic. There are therefore added below. #}
    <script src="{% static 'd3-format.min.js' %}"></script>
    <script src="{% static 'd3-time-format.min.js' %}"></script>
  </head>

  <body class="p-4">
    {% include "mainapp/snippets/metric_graph.html" with metric=object %}
  </body>
</html>
