{% extends "base.html" %}
{% load organization_tags %}
{% block content %}
<h1>My organizations</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Members</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for organization in organization_list %}
        <tr>
            <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                <!-- <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Jese image"> -->
                <div class="pl-3">
                    <div class="text-base font-semibold">
                      {{ organization }}
                    </div>
                </div>
            </th>
            <td>
                <a href="{% url 'organization_user_list' organization.id %}">
                {% with total_users=organization.users.count %}
                   {{ total_users }} member{{ total_users|pluralize }}
                {% endwith %}
                </a>
            </td>
            <td>
                {% if organization|is_admin:user %}
                <a href="{% url 'organization_user_new' organization.id %}">Add member</a>
                <a href="{% url 'organization_edit' organization.id %}">Edit</a>
                <a href="{% url 'organization_delete' organization.id %}">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mt-4">
  <a href="{% url 'organization_new' %}" class="btn cta">
    Create new organization
  </a>
</div>

{% endblock %}
