{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<h1>{{ organization }}</h1>
<form action="" method="post">{% csrf_token %}
    {{ form.errors }}
    {% for field in form.visible_fields %}
        <p>
            {{ field.errors }}
            {{ field.label_tag }}
            {% if field.name == 'slug' %}
              <div class="flex">
                <span id="id_slug_prefix" class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-r-0 border-gray-300 rounded-l-md">polynomial.so/</span>
                {{ field|add_class:"!rounded-none !rounded-r-lg"|append_attr:"placeholder:my-organization" }}
              </div>
            {% else %}
              {{ field }}
            {% endif %}
            {% if field.help_text %}
              <span class="helptext">{{ field.help_text|safe }}</span>
            {% endif %}
        </p>
    {% endfor %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}

    <p>
      {% if form.google_spreadsheet_export_spreadsheet_id.is_hidden %}
        {% if object.pk %}
          <a href={% url 'organization_authorize_google_spreadsheet_export' object.pk %}>
            Activate Google spreadsheet export
          </a>
        {% endif %}
      {% else %}
        <a href={% url 'organization_authorize_google_spreadsheet_export' object.pk %}>
          Re-authorize Google spreadsheet export
        </a>
      {% endif %}
    </p>

    <p>
      {% if not object.slack_notifications_credentials %}
        {% if object.pk %}
          <a href={% url 'organization_authorize_slack_notifications' object.pk %}>
            Activate Slack notifications
          </a>
        {% endif %}
      {% else %}
        <a href={% url 'organization_authorize_slack_notifications' object.pk %}>
          Re-authorize Slack notifications
        </a>
      {% endif %}
    </p>
    <p>
      <input type="submit" value="submit">
    </p>
</form>

<script>
  function slugify(s) {
    return s.toLowerCase()
      .trim()
      .replace(/[^\w\s-]/g, '')
      .replace(/[\s_-]+/g, '-')
      .replace(/^-+|-+$/g, '');
  }
  function onNameChange(e) {
    var slugEl = document.getElementById('id_slug');
    if (!slugEl.value) {
      slugEl.value = slugify(e.target.value);
    }
  }
  document.getElementById('id_name').addEventListener('change', onNameChange);
</script>

{% endblock %}
