{% extends "base.html" %}
{% load organization_tags %}
{% block content %}
<h1>{{ organization }} members</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for organization_user in organizationuser_list %}
        <tr>
            <th scope="row" class="py-4">
                {% if organization_user.user.avatar_url %}
                <img class="w-10 h-10 rounded-full" src="{{ organization_user.user.avatar_url }}" alt="">
                {% else %}
                <svg class="w-8 h-8 rounded-full text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                </svg>
                {% endif %}
                <div class="pl-3">
                    <div class="text-base font-semibold">
                      {{ organization_user.user.first_name }}
                      {{ organization_user.user.last_name }}
                    </div>
                    <div class="font-normal text-gray-500">
                      {% if organization_user.user %}
                        {{ organization_user.user.email }}
                      {% else %}
                        {{ organization_user.invitee_email }}
                      {% endif %}
                    </div>
                </div>
            </th>
            <td>
                {% if organization_user.is_owner %}
                    Owner
                {% elif organization_user.is_admin %}
                    Administrator
                {% else %}
                    Member
                {% endif %}
                {% if organization|is_admin:user and organization_user.user != user and not organization_user.is_owner %}
                    (<a href="{% url 'organization_user_edit' organization.pk organization_user.pk %}">edit</a>)
                {% endif %}
            </td>
            <td>
                <div class="flex items-center">
                    {% if organization_user.user.is_active %}
                    <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Active
                    {% else %}
                    <div class="h-2.5 w-2.5 rounded-full bg-gray-500 mr-2"></div> Invited
                    {% endif %}
                </div>
            </td>
            <td>
                {% if is_organization_admin %}
                <a href="{% url 'organization_user_delete' organization.pk organization_user.pk %}" class="font-medium">Remove</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mt-4">
  <a href="{% url 'organization_user_new' organization.pk %}" class="btn">
    Add new user
  </a>
</div>

{% endblock %}
