{% extends "base.html" %}

{% block head_title %}{{ page_name }}'s page{% endblock %}
{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/vega@5.22.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.6.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.21.0"></script>
{% endblock %}

{% block content %}
<h1>{{ page_name }}'s page</h1>
<h2>Dashboards</h2>
{% for dashboard in dashboards %}
  <a href="{{ dashboard.get_absolute_url }}">{{ dashboard }}</a>
{% empty %}
  <p>
    There is no dashboard available here yet.
  </p>
{% endfor %}
{% endblock %}
