{% extends "base.html" %}

{% block content %}
<h1>Privacy policy</h1>
Last updated August 13, 2023
<h2>What we collect and what we use it for</h2>
<ul class="list-disc list-inside">
        <li><b>Your email address and name</b> is required to create an account. This is required in order to log in, personalize your account, and send you emails in case of updates to your account.</li>
        <li><b>A persistent first-party cookie</b> is stored to remember you've been logged in. If you log in to your account, you give us permission to use cookies so you don't have to log in every time you visit Polynomial.</li>
        <li><b>Third-party data from integrations</b> is stored in our database in order to be able to show graphs and provide you with insights. By creating a new metric with a specific integration, you give us permission to collect integration data on your behalf. This data is never sold or sent to third-parties.</li>
        <li><b>Emails are sent using a third-party email provider</b>. See the <a href="https://www.mailgun.com/legal/privacy-policy/">Mailgun Privacy Policy</a> for full details.</li>
        <li><b>All the data we collect is hosted in France in the EU</b>. Your data never leaves the EU. See the <a href="https://fly.io/legal/privacy-policy/">Fly.io Privacy Policy</a> for full details.</li>
        <li><b>Your email address and past correspondence with us</b> may be kept if you write to us over email with questions. This enables us to keep a history of past correspondences to reference if you reach out to us again in the future. We use this data solely in connection with answering the queries we receive.</li>
</ul>

<h2>Contact information</h2>
If you have any questions, please reach out to <a href="mailto:privacy@polynomial.so">privacy@polynomial.so</a>.

{% endblock %}