{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Create account" %}{% endblock %}

{% block content %}


<div class="w-full mx-auto sm:max-w-lg xl:p-0 shadow mb-4">
  <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
    <h1>{% trans "Create account" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

    <div class="socialaccount_ballot">

      <ul class="flex items-center gap-4 socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
      </ul>

      <div class="flex my-2 items-center">
        <div class="bg-gray-200 w-full h-0.5"></div>
        <div class="px-5 text-gray-500 signup-or">{% trans 'or' %}</div>
        <div class="bg-gray-200 w-full h-0.5"></div>
      </div>

    </div>

    {% endif %}

    <form class="space-y-4 md:space-y-6 signup" id="signup_form" method="POST">
      {% csrf_token %}
      {{ form.as_p }}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn cta w-full" type="submit">{% trans "Create account" %}</button>
      <p class="text-sm text-gray-500 mt-6">
          Already have an account? <a href="{{ login_url }}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login directly</a>.
      </p>
    </form>

  </div>
</div>
{% endblock %}
