{% load static %}

<div class="grid md:grid-cols-2 gap-8">
{% for metric in measurements_by_metric %}
  <div class="card">
    <div>
      <!-- dropdown menu -->
      <button
        data-dropdown-toggle="menu-{{ metric.metric_id }}"
        data-dropdown-offset-distance="5"
        data-dropdown-placement="right-start"
        class="focus:outline-none cursor-pointer text-black"
      >
        <span class="chevron-after">
          {% with "integrations/icons/"|add:metric.integration_id|add:".png" as icon_url %}
            <img class="integration-icon" src="{% static icon_url %}" alt="">
          {% endwith %}
          {{ metric.metric_name }}
        </span>
      </a>
      <div
        id="menu-{{ metric.metric_id }}"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-b-lg overflow-hidden shadow dark:bg-gray-700 text-xs text-left"
      >
        <ul class="text-gray-700 dark:text-gray-200">
        {% if metric.can_edit %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-details' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">edit</a></li>
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-duplicate' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">duplicate</a></li>
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-import' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">import CSV</a></li>
        {% else %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-details' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">details</a></li>
        {% endif %}
        {% if metric.can_be_backfilled_by_user %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-backfill' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">backfill</a></li>
        {% endif %}
        {% if can_edit %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'dashboardmetric_remove' dashboard.pk metric.metric_id %}?next={{ request.get_full_path | urlencode }}">hide</a></li>
        {% endif %}
        {% if metric.can_edit %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric_delete' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">delete</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
    <div id="chart-{{ metric.metric_id }}" style="width: 100%; height: 250px;"></div>
    {% with metric.metric_id|stringformat:"s" as metric_id_str %}
      {% with "metric-spec-"|add:metric_id_str as script_id %}
        {{ metric.vl_spec | json_script:script_id }}
      {% endwith %}
    {% endwith %}
  </div>
{% endfor %}
{% if can_edit %}
  <div class="card flex items-center justify-evenly bg-slate-50" style="border: thin dotted lightgray; border-radius: 5px; min-height: 250px">
    <a href="{% url 'dashboardmetric_add' dashboard.pk %}" class="btn cta">Add existing metric</a>
    <a href="{% url 'integrations' %}?dashboard_ids={{ dashboard.pk }}&next={{ request.get_full_path | urlencode }}" class="btn cta">Create new metric</a>
  </div>
{% endif %}

{{ vl_spec | json_script:"vl_spec" }}

<script type="text/javascript">
  var vlSpec = JSON.parse(document.getElementById('vl_spec').textContent);

  var vlSpec;
  {% for metric in measurements_by_metric %}
    vlSpec = JSON.parse(document.getElementById('metric-spec-{{ metric.metric_id }}').textContent);
    vegaEmbed(
      '#chart-{{ metric.metric_id }}',
      vlSpec,
      {"actions": false}
    );
  {% endfor %}
</script>
</div>