{% load static %}

<div class="grid md:grid-cols-2 gap-8">
{% for metric in measurements_by_metric %}
  <div class="card">
    <div>
      <!-- dropdown menu -->
      <button
        data-dropdown-toggle="menu-{{ metric.metric_id }}"
        data-dropdown-offset-distance="5"
        data-dropdown-placement="right-start"
        class="focus:outline-none cursor-pointer text-black inline-grid"
      >
        <span class="chevron-after truncate">
          {% with "integrations/icons/"|add:metric.integration_id|add:".png" as icon_url %}
            <img class="integration-icon" src="{% static icon_url %}" alt="">
          {% endwith %}
          {{ metric.metric_name }}
        </span>
      </button>
      <div class="flex truncate items-center text-xs">
        {% if metric.has_outdated_measurements %}
        <svg class="text-amber-500" style="height: .9em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 17" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
        </svg>
        Nothing collected in more than 14 days.
        {% if metric.can_web_auth and metric.can_alter_credentials %}
        Try to re-authorize?
        {% endif %}
        {% else %}
        &nbsp;
        {% endif %}
      </div>
      <div
        id="menu-{{ metric.metric_id }}"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-b-lg overflow-hidden shadow dark:bg-gray-700 text-xs text-left"
      >
        <ul class="text-gray-700 dark:text-gray-200">
        {% if metric.can_edit %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-details' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">edit</a></li>
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-duplicate' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">duplicate</a></li>
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-import' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">import CSV</a></li>
        {% else %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-details' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">details</a></li>
        {% endif %}
        {% if metric.can_be_backfilled_by_user %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-backfill' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">backfill</a></li>
        {% endif %}
        {% if can_edit %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'dashboardmetric_remove' dashboard.pk metric.metric_id %}?next={{ request.get_full_path | urlencode }}">hide</a></li>
        {% endif %}
        {% if metric.can_delete %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric_delete' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">delete</a></li>
        {% endif %}
        {% if metric.can_web_auth and metric.can_alter_credentials %}
          <li><a class="block px-2 py-2 hover:bg-gray-100" href="{% url 'metric-authorize' metric.metric_id %}?next={{ request.get_full_path | urlencode }}">re-authorize</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
    <div id="chart-{{ metric.metric_id }}" style="width: 100%; height: 250px;"></div>
    {% with metric.metric_id|stringformat:"s" as metric_id_str %}
      {% with "metric-spec-"|add:metric_id_str as script_id %}
        {{ metric.vl_spec | json_script:script_id }}
      {% endwith %}
    {% endwith %}
  </div>
{% endfor %}
{% if can_edit %}
  <div class="card flex items-center justify-evenly bg-slate-50" style="border: thin dotted lightgray; border-radius: 5px; min-height: 250px">
    <a href="{% url 'dashboardmetric_add' dashboard.pk %}" class="btn cta">Add metric</a>
  </div>
{% endif %}

{% csrf_token %}

<script type="text/javascript">
  var formatNumber = d3.format('.3~s');
  var formatTime = d3.utcFormat("%b %d, %Y");

  {% for metric in measurements_by_metric %}
    var vlSpec = JSON.parse(document.getElementById('metric-spec-{{ metric.metric_id }}').textContent);

    var tooltipOptions = {
      formatTooltip: (value, sanitize) => {
        var content = '<table>';
        content += `<tr><td class="key">${sanitize(formatTime(value.date))}</td><td class="value">${sanitize(formatNumber(value.value))}`;
        if (value.value_prev) {
          pct_change = Math.round((value.value / value.value_prev - 1) * 100);
          if (isFinite(pct_change)) {
            content += ' (';
            // Positive change
            if (pct_change > 0) {
              content += '<span class="{{ metric.higher_is_better|yesno:'text-green-500,text-red-700' }}">';
              content += `+${pct_change}%`;
              content += '</span>';
            } else {
              // Negative change
              content += '<span class="{{ metric.higher_is_better|yesno:'text-red-700,text-green-500' }}">';
              content += `${pct_change}%`;
              content += '</span>';
            }
            content += ` YoY)`;
          }
        }
        content += "</td></tr>";
        if (value.value_prev) {
          content += `<tr><td class="key">${sanitize(formatTime(value.date_prev))}<td class="value">${sanitize(formatNumber(value.value_prev))}</td></tr>`;
        }
        content += "</table>";
        return content;
      }
    };

    vegaEmbed(
      '#chart-{{ metric.metric_id }}',
      vlSpec,
      { "actions": false, "tooltip": tooltipOptions }
    ).then(result => {
      {% if metric.can_edit %}
      result.view.addEventListener('click', function(event, item) {
        // Prompt
        var newMarker = prompt("What marker would you like to set?", item.datum.datum.marker);
        if (newMarker == null) {
            return; // Cancel
        }
        var url;
        var method;
        var requestBody;
        var dateStr = new Date(item.datum.datum.date).toISOString().replace('T00:00:00.000Z', '');
        if (newMarker == '' && item.datum.datum.marker != '') {
          url = '/metrics/{{ metric.metric_id }}/markers/' + dateStr;
          method = 'DELETE';
        } else if (newMarker != '') {
          // Upsert
          url = '/metrics/{{ metric.metric_id }}/markers/';
          method = 'POST';
          requestBody = {
            'text': newMarker,
            'date': dateStr,
          }
        }
        if (url && method) {
          var csrftoken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
          fetch(url, {
            method: method,
            headers: {
              'X-CSRFToken': csrftoken,
              'Accept': 'application/json',
              'X-Requested-With': 'XMLHttpRequest',
            },
            body: JSON.stringify(requestBody),
          }).then(response => {
            if (response.ok) {
              // Update in UI. Note this might be out of sync with server.
              var changeSet = vega
                .changeset()
                .modify(d => d.date == item.datum.datum.date, 'marker', newMarker);
              result.view.change('data', changeSet).run();
            } else {
              // Server error
              alert('Something went wrong');
              console.error(response);
            }
          }).catch(error => {
            // Client error
            alert('Something went wrong');
            console.error(error);
          });
        }
      });
      {% endif %}
    }).catch(console.warn);;
  {% endfor %}
</script>
</div>